html
	head
		link(rel="stylesheet" href="/static/button.css")

		title Button
	
	body
		div#container
			div#button(onclick="socket.emit('click')")

		script(src="/static/socket.io-1.3.4.js")

		script(src="/static/button.js")

